<!DOCTYPE html>
<html lang="en">

<head>
    <title>Name of your game here</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="Question Four of the Your Game">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
</head>

<body>

    <header>Susan B. Anthony</header>
    
    <div id="question">
        <div class="flex-item">
            <img src="http://assets.nydailynews.com/polopoly_fs/1.2730070.1469735789!/img/httpImage/image.jpg_gen/derivatives/article_750/anthony29n-1-web.jpg" height="285" width="340" style="padding-right:00px;">
        </div>

        <div class="flex-item" >
           <p>What Was The Name of The Newspaper Co-Started by Susan B. Anthony in 1868?</p>
        </div>
        
    </div>

    <div class="flex-container">
        <div class="flex-item" data-color="#2980B9" style="background-color: rgb(42, 128, 185);">
            <p>The Women Times</p>
        </div>
        <div class="flex-item" data-color="#8f44ad" style="background-color: rgb(143, 68, 173);">
            <p>The Revolution</p>
        </div>
        <div class="flex-item" data-color="#16a086" style="background-color: rgb(22, 160, 134);">
            <p>History In The Making</p>
        </div>
        <div class="flex-item" data-color="#f1c40f" style="background-color: rgb(241, 196, 15);">
            <p>The Overthrow</p>
        </div>
    </div>
    
    <footer>
        <p>&copy; Smash the Patriarchy GWC 2017</p>
    </footer>

</body>

</html>
